<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki scrapping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color:cornsilk;">
    <div class="container">

        <div class="content">
            <br>
            <h1 style="text-align: center">Wikishorts</h1><br>

             <div class="form">
                <form action="/" method="POST">
                    <label><b>wikishorts search :</b></label> <input type="text" name="content" id="content" ><br><br>
                    <!--<label><b>If you have id with you enter here:</b></label> <input type="text" name="id" id="id" ><br><br>-->
                    <input type="submit" value="Search">
                </form>
             </div>
        </div>
    </div>
</body>
</html>

</body>
</html>